.gradle/2.4/taskArtifacts/cache.properties
.gradle/2.4/taskArtifacts/cache.properties.lock
.gradle/2.4/taskArtifacts/fileHashes.bin
.gradle/2.4/taskArtifacts/fileSnapshots.bin
.gradle/2.4/taskArtifacts/outputFileStates.bin
.gradle/2.4/taskArtifacts/taskArtifacts.bin
.gradle/2.8/taskArtifacts/cache.properties
.gradle/2.8/taskArtifacts/cache.properties.lock
.gradle/2.8/taskArtifacts/fileHashes.bin
.gradle/2.8/taskArtifacts/fileSnapshots.bin
.gradle/2.8/taskArtifacts/outputFileStates.bin
.gradle/2.8/taskArtifacts/taskArtifacts.bin
.idea/compiler.xml
.idea/gradle.xml
.idea/runConfigurations.xml
.idea/copyright/profiles_settings.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/libraries/Ab.xml
.idea/libraries/play_services_appindexing_8_1_0.xml
.idea/libraries/play_services_basement_8_1_0.xml
.idea/libraries/support_annotations_23_1_1.xml
.idea/libraries/support_v4_23_1_1.xml
